::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #414141;
}

::-webkit-scrollbar-thumb {
  background-color: #b90000;
  border: 3px solid #303030;
  background-clip: padding-box;
  border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
  /* background: 0 0;*/
  background-color: #222222
}

.dark-bg,
.light-bg,
.height-all {
  height: 100%
}

.dark-bg {
  background-color: #303030;
  color: white !important;
  background-image: url("../img/bg_partners_dark.png");
  background-repeat: repeat-x;
  background-size: cover;
  background-attachment: fixed;
}

.light-bg {
  background-image: url("../img/bg_partners.png");
  background-repeat: repeat-x;
  background-size: cover;
  background-attachment: fixed;
}

.blackbg {
  padding: 1em;
  border-radius: 1em;
  /*margin-top: 90px !important;*/
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.22+1,0.35+100 */
  background: -moz-linear-gradient(top,
      #00000085 0%,
      #00000085 1%,
      #000000a6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
      #00000085 0%,
      #00000085 1%,
      #000000a6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      #00000085 0%,
      #00000085 1%,
      #000000a6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38000000', endColorstr='#59000000', GradientType=0);
  /* IE6-9 */
}

.text--capital {
  text-transform: capitalize;
}

.titlemargin {
  height: 64px;
}

.titlefooter {
  height: 30px;
}

@media (max-width: 959px) {
  .titlemargin {
    height: 56px !important;
  }
}

.anone {
  text-decoration: none;
}

.dialog-btn {
  display: inline-block;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto;
  background-position: center center;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.img-circle {
  border-radius: 50%;
}

.ask_bg_dark {
  background-color: #00000095;
  padding: 20px;
  border-radius: 10px;
}

.ask_bg_light {
  background-color: #ffffffd5;
  padding: 20px;
  border-radius: 10px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 3px;
  background: rgb(41, 41, 41);
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background-color: rgb(138, 2, 2);
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
  overflow: hidden;
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  -o-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}

.pace .pace-activity {
  position: fixed;
  top: 0;
  left: 0;
  right: -28px;
  bottom: 0;
}

@-webkit-keyframes pace-theme-mac-osx-motion {
  0% {
    -webkit-transform: none;
    transform: none;
  }

  100% {
    -webkit-transform: translate(-28px, 0);
    transform: translate(-28px, 0);
  }
}

@-moz-keyframes pace-theme-mac-osx-motion {
  0% {
    -moz-transform: none;
    transform: none;
  }

  100% {
    -moz-transform: translate(-28px, 0);
    transform: translate(-28px, 0);
  }
}

@-o-keyframes pace-theme-mac-osx-motion {
  0% {
    -o-transform: none;
    transform: none;
  }

  100% {
    -o-transform: translate(-28px, 0);
    transform: translate(-28px, 0);
  }
}

@-ms-keyframes pace-theme-mac-osx-motion {
  0% {
    -ms-transform: none;
    transform: none;
  }

  100% {
    -ms-transform: translate(-28px, 0);
    transform: translate(-28px, 0);
  }
}

@keyframes pace-theme-mac-osx-motion {
  0% {
    transform: none;
    transform: none;
  }

  100% {
    transform: translate(-28px, 0);
    transform: translate(-28px, 0);
  }
}