::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-moz-scrollbar {
  width: 5px;
  height: 5px;
}

.dark-bg,
.light-bg,
.height-all {

  height: 100%
}

.dark-bg {
  background-color: #303030;
  color: white !important;
}

.light-bg {
  background-color: #c9c9c9;
}

::-webkit-scrollbar-track {
  background: #525252;
}

::-moz-scrollbar-track {
  background: #525252;
}


::-webkit-scrollbar-thumb {
  background: #ad012c;
}

::-moz-scrollbar-thumb {
  background: #ad012c;
}

.blackbg {
  padding: 1em;
  border-radius: 1em;
  /*margin-top: 90px !important;*/
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.22+1,0.35+100 */
  background: -moz-linear-gradient(top,
      rgba(0, 0, 0, 0.52) 0%,
      rgba(0, 0, 0, 0.52) 1%,
      rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
      rgba(0, 0, 0, 0.52) 0%,
      rgba(0, 0, 0, 0.52) 1%,
      rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.52) 0%,
      rgba(0, 0, 0, 0.52) 1%,
      rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38000000', endColorstr='#59000000', GradientType=0);
  /* IE6-9 */
}

.text--capital {
  text-transform: capitalize;
}

.titlemargin {
  height: 64px;
}

@media (max-width: 959px) {
  .titlemargin {
    height: 56px !important;
  }
}

.anone {
  text-decoration: none;
}

.primary--color {
  color: #970202
}